


# Pandas series

In [1]:
import numpy as np
import pandas as pd

Pandas Series is a one dimensional array of indexed data, it can be created from a list or array as follow.

##### Creating Series by using List

In [8]:
data = pd.Series([0.25,0.33,0.45,0.85])
data

0    0.25
1    0.33
2    0.45
3    0.85
dtype: float64

In [5]:
data.values

array([0.25, 0.33, 0.45, 0.85])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data2 = pd.Series([0.25,0.33,0.45,0.85], index = ['a','b','c','d'])
data2

a    0.25
b    0.33
c    0.45
d    0.85
dtype: float64

##### Accessing the data by using index based

In [10]:
data2['a']

0.25

##### Creating Series By Using Dictionary

In [24]:
population_dict = {
    'AP': 123,
    'UP': 234,
    'TS': 345,
    'KA': 456
}

In [25]:
population_dict

{'AP': 123, 'UP': 234, 'TS': 345, 'KA': 456}

In [26]:
data3 = pd.Series(population_dict)
data3

AP    123
UP    234
TS    345
KA    456
dtype: int64

In [27]:
data3['KA']

456

##### Creating the Series by data and index

In [30]:
data = [1,3,5,7]
index = ['aa','bb','cc','dd']
data4 = pd.Series(data , index = index)
data4

aa    1
bb    3
cc    5
dd    7
dtype: int64

##### Creating Series by one data with multiple indexs:

In [31]:
data5 = pd.Series(5,index=[10,20,30])
data5

10    5
20    5
30    5
dtype: int64

In [32]:
data6 = pd.Series({'a':10,'b':20,'c':30} ,index = ['c','a'])
data6

c    30
a    10
dtype: int64

In [34]:
list(data4.items())

[('aa', 1), ('bb', 3), ('cc', 5), ('dd', 7)]

In [36]:
data4.keys()

Index(['aa', 'bb', 'cc', 'dd'], dtype='object')

In [37]:
data4.index

Index(['aa', 'bb', 'cc', 'dd'], dtype='object')

In [46]:
data4['aa':'cc']  #Explict index

aa    1
bb    3
cc    5
dtype: int64

In [48]:
data4[0:3]  #Implicit index

aa    1
bb    3
cc    5
dtype: int64

In [50]:
data4[data4>4]  # masking

cc    5
dd    7
dtype: int64

In [51]:
data4[['aa','cc']]  # Fancy Indexing ...

aa    1
cc    5
dtype: int64

### loc

#### FIrst loc Attribute allows indexing and slicing that always refers the explicit indexing ...

In [58]:
data4.loc['bb']

3

In [61]:
data4.iloc[1]

3

#### Operating with null values

In [62]:
df1 = pd.Series([1, np.nan , 'choice', None])
df1

0         1
1       NaN
2    choice
3      None
dtype: object

In [63]:
df1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [64]:
df1[df1.notnull()]

0         1
2    choice
dtype: object

In [66]:
df1[~df1.notnull()]

1     NaN
3    None
dtype: object

In [69]:
df1

0         1
1       NaN
2    choice
3      None
dtype: object

In [72]:
df1.dropna(inplace = True)

In [73]:
df1

0         1
2    choice
dtype: object